[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
faker = "*"
v = {editable = true,version = "*"}

[packages]
flask = "*"
python-dotenv = "*"
bleach = "*"
flask-login = "*"
flask-sqlalchemy = "*"
flask-mail = "*"
flask-moment = "*"
flask-wtf = "*"
markdown = "==2.6.8"
markdown2 = "*"
flask-whooshee = "*"
werkzeug = "==0.15.4"
flask-pagedown = "*"
flask-dropzone = "*"
faker = "*"
gunicorn = "*"
psycopg2 = "*"
bootstrap-flask = "*"
flask-migrate = "*"

[requires]
python_version = "3.7"
