{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="page-header">
        <h4 class="text-muted">Latest:</h4>
    </div>
    <div class="row">
        <div class="col-sm-10">
            {% if post %}
                <h3 class="text-primary"><a href="{{ url_for('.show_post', post_id=post.id) }}">{{ post.title }}</a></h3>
                <p>
                    {{ post.body|striptags|truncate }}
                    <small><a href="{{ url_for('.show_post', post_id=post.id) }}">Read More</a></small>
                </p>
                <small>
                    Comments: <a href="{{ url_for('.show_post', post_id=post.id) }}">{{ post.comments|length }}</a>&nbsp;&nbsp;
                    Category: <a href="{{ url_for('.show_post', post_id=post.id) }}">{{ post.category.name }}</a>
                </small>
            {% else %}
                <div class="tip">
                    <h5>No posts yet.</h5>
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('admin.new_post') }}">Write Now</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div class="col-sm-2">
            <img class="pure-img pure-img-responsive" src="/static/img/portrait.jpg" alt="Logo">
        </div>
    </div>
    <hr>
    <div class="page-header">
        <h4 class="text-muted">Message board:</h4>
    </div>
    <div class="row">
        <div class="col-sm-7">
            {% for message in messages %}
                <a class="list-group-item list-group-item-action flex-column">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1 text-success">{{ message.name }}
                        </h5>
                        <small data-toggle="tooltip" data-placement="top"
                               data-timestamp="{{ message.timestamp.strftime('%Y-%m-%dT%H:%M:%SZ') }}"
                               data-delay="100">
                            {{ moment(message.timestamp).fromNow(refresh=True) }}
                        </small>
                    </div>
                    <p class="mb-1">{{ message.body }}</p>
                </a>
            {% endfor %}
            <div class="page-footer">{{ render_pagination(pagination) }}</div>
        </div>
        <div class="col-sm-5">
            {{ render_form(form) }}
        </div>

    </div>
{% endblock %}


{{ render_form(form) }}