{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}{{ post.title }}{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/github.css') }}" type="text/css">
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{{ post.title }}
        <span class="float-right">
        {% if current_user.is_admin %}
            <a class="btn btn-info btn-sm" href="{{ url_for('admin.get_post', param=post.title)}}">Edit</a>
            <form class="inline" method="post"
                  action="{{ url_for('admin.delete_post', param=post.title)}}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?');">Delete
                </button>
            </form>
        {% endif %}
      </span>
    </h1>
    <small>
        Category: <a
            href="{{ url_for('.categories', category_id=post.category_id) }}">{{ post.category.name }}</a><br>
        Date: {{ moment(post.timestamp).format('LL') }}
    </small>
</div>
<div class="row">
    <div class="col-sm-12">
        <div id="article">
            {% if post.body_html %}
            {{ post.body_html | safe }}
            {% else %}
            {{ post.body }}
            {% endif %}
        </div>

        <hr>
        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#postLinkModal">Share</button>
        <div class="modal fade" id="postLinkModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="mySmallModalLabel">Share link</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" class="form-control"
                                   value="{{ url_for('blog.show_post', param=post.title, _external=True) | replace_domain('fanco.ink') }}" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="comments" id="comments">
            <h3>There are {{ comments|length }} comments
                {% if current_user.is_admin %}
                <form class="float-right" method="post"
                      action="{{ url_for('admin.set_comment', post_id=post.id, next=request.full_path) }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <button type="submit" class="btn btn-warning btn-sm">
                        {% if post.can_comment %}Disable{% else %}Enable{% endif %} Comment
                    </button>
                </form>
                {% endif %}
            </h3>
            <ul class="list-group">
                {% for comment in comments %}
                <li class="list-group-item list-group-item-action flex-column">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">
                            <img width="38" height="38" src="{{ comment.author.image }}">
                            <span>{{ comment.author.username }}</span>
                            {# author badge #}
                            {% if comment.author.is_admin %}
                            <span class="badge badge-pill badge-secondary">Author</span>
                            {% endif %}
                        </h5>
                        <small data-toggle="tooltip" data-placement="top" data-delay="500"
                               data-timestamp="{{ comment.timestamp.strftime('%Y-%m-%dT%H:%M:%SZ') }}">
                            {{ moment(comment.timestamp).fromNow() }}
                        </small>
                    </div>
                    {% if comment.replied %}
                    <p class="reply_comment alert-dark reply-body">
                        {{ comment.replied.author.username }} :<br>
                        {{ comment.replied.body }}
                    </p>
                    {%- endif -%}
                    <p class="mb-1">{{ comment.body }}</p>
                    <div class="float-right">
                        <button class="btn btn-dark btn-sm reply" data-reply-id="{{ comment.id }}">Reply</button>
                        {% if current_user.is_admin %}
                        <form class="inline" method="post"
                              action="{{ url_for('admin.delete_comment', comment_id=comment.id)}}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?');">Delete
                            </button>
                        </form>
                        {% endif %}
                    </div>

                </li>
                {% endfor %}
            </ul>
        </div>
        {% if comments %}
        {{ render_pagination(pagination, fragment='#comments') }}
        {% endif %}

        {% if post.can_comment%}
        <div id="reply_area"></div>
        <div id="comment-form">
            {{ render_form(form, action=url_for('blog.leave_comment', param=post.title)) }}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}




